<h1 class="md-display-2" style="color:#757575; text-align:center" >Mes emprunts</h1>
<div class="" layout-padding="" flex="">
  <md-card flex="" layout-padding>
    <md-input-container md-no-float="" class="md-block">
      <md-icon md-svg-src="img/icons/search.svg"></md-icon>
      <input ng-model="keySearch" type="text" placeholder="Rechercher">
    </md-input-container>
  </md-card>
</div>
<div class='md-padding' layout="row" layout-wrap>
    <md-card style="width: 280px;" ng-repeat="data in fakeData | filter:keySearch" ng-style="{ 'background-color': data.isAccepted ? '#E8F5E9' : data.isWaiting ? '#FFE0B2' : '#FFEBEE' }">
      <md-card-content>
        <span class="md-subhead">{{data.itemName}}</span>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-class="data.isAccepted ? 'md-primary' : data.isWaiting ? '' : 'md-warn'">{{data.status}}</md-button>
        <span flex></span>
        <md-button class="md-primary" ng-click="getInfo($event, data)">Info</md-button>
      </div>
    </md-card>
</div>
