#imgSidenav {

    /*background: url("https://travelplanet.fr/images/logo/logo.png") center no-repeat;*/
		/*background: url("http://www.univ-lorraine.fr/sites/www.univ-lorraine.fr/files/node_files/publics/users/martin38/2013/10/isotype_ul.jpg") center no-repeat;*/

    background-size: contain;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin-left: 95px;
		margin-top: 20px;
		/*margin-bottom: -20px;
    border: 1px solid #ebebeb;*/
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
}

.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.fade {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
