<!DOCTYPE html>
<html lang="fr" ng-app="supply">
    <head>
        <meta charset="UTF-8">
        <!-- Css du bower component -->
        <link rel="stylesheet" type="text/css" href="css/supply-components.css" />
        <!-- Css perso -->
        <link rel="stylesheet" type="text/css" href="css/supply-styles.css" />
        <meta name="viewport" content="initial-scale=2" />
        <title>ETNA supply</title>
    </head>
<body ng-cloak layout="column" ng-controller="navBarCtrl">
  <div layout="column" layout-fill layout-fill role="main">
      <md-toolbar class="animate-show" style="background-color:#03A9F4">
        <div class="md-toolbar-tools">
          <md-button hide-gt-md class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <md-icon  md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content flex="" layout="row" style="background-color:#F5F5F5">
          <section layout="row">
              <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left md-whiteframe-z3" md-component-id="left">
              <md-toolbar class=""  style="background-color:#03A9F4; padding-bottom: 30px;">
                  <div>
                      <img id="imgSidenav" src="https://remixcv-cache.s3-eu-west-1.amazonaws.com/user_thumbnail/1443187502-61c43c1d43b0cf3a881a79dc903475be.jpeg"/>
                  </div>
                  <span flex></span>
                  <div padding="" style="text-align:center">
                      <div class="md-title">Mahefa Andrianifahanana</div>
                      <div class="md-body-1">Administrateur</div>
                  </div>
              </md-toolbar>
              <!-- menu liste -->
                  <md-list>
                    <md-content flex="" =layout-padding="">
                        <md-list-item class="md-1-line" role="link" md-ink-ripple ng-repeat="data in fakeData">
                          <md-icon md-svg-icon="img/icons/{{data.svg}}" aria-label="{{data.onglet}}"></md-icon>
                          <div class="md-list-item-text" ng-click="checkAction(data.onglet)">
                            <span style="color:#757575" class="md-subhead">{{data.onglet}}</span>
                          </div>
                          <span flex></span>
                        </md-list-item>
                    </md-content>
                </md-list>
              </md-sidenav>
      </md-content>
  </section>
  <!-- <section class="md-whiteframe-1dp" layout="row" flex=""> -->
    <!-- <md-card flex="" class="md-whiteframe-2dp"> -->
      <ng-view flex="" layout-padding="">
      </ng-view>

    <!-- </md-card> -->
  <!-- </section> -->
  </div>
  <footer>
      <script src="js/supply-components.js"></script>
      <script src="js/supply.js"></script>
  </footer>
</body>
